:root {
  /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    
        @author McKilla Gorilla
    */
  --swatch-foundation: #eeeedd;
  --swatch-primary: #e6e6e6;
  --swatch-complement: #130684;
  --swatch-contrast: #d5c544;
  --swatch-accent: #669966;
  --swatch-status: #123456;
  --font-primary: "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
}

#root {
  background-color: var(--swatch-primary);
  font-family: "Lexend Exa";
  position: absolute;
  width: 90%;
  left: 5%;
  height: 90%;
  top: 5%;
}

#app-root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}


#splash-screen {
  background-image: linear-gradient(312deg, #6060A9, #F4b8b8);
  color: white;
  font-size: 5vw;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  /* padding-left: 10%; */
  padding-top: 5%;
  padding-bottom: 5%;
  height: 70%;
  text-align: center;
  vertical-align: center;
}

#splash-screen-heading {
  margin: 5%;
}

#splash-screen-description {
  font-size: 2vw;
  margin: 5% 20%;
  color: #DBD6F5
}



#homebanner {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 8pt;
}

.homebanner-item {
  display: flex;
  align-items: center;
}

.homebanner-icons {
  color: black;
}

#homebanner div:last-child {
  justify-content: flex-end;
}

#home-screen-items {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.list-card-unopen {
  display: grid;
  height: 80pt;
}

.list-card-open {
  display: block;
}

.list-card-item1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.list-card-item2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 1;
}

.list-card-item3 {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.list-card-item #edit-toolbar {
  background-color: transparent;
  float: right;
}

#playlister-workspace {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 80%;
  background-color: var(--swatch-accent);
}

#playlister-statusbar {
  position: absolute;
  left: 0%;
  top: 90%;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36pt;
}

#list-selector-heading {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-list-button {
  float: left;
}


#list-selector-list {
  /* position: absolute; */
  left: 0%;
  top: 10%;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-card,
.selected-list-card,
.unselected-list-card {
  font-size: 18pt;
  margin: 10px;
  padding: 15px;
  border-radius: 25px;
  z-index: 1;
}

.song-link {
  color: white;
  text-decoration: none;

}

/* .list-card:aria-disabled,
.list-card[aria-disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
} */

.unselected-list-card:hover {
  cursor: pointer;
  background-color: var(--swatch-contrast);
  color: white;
}

.selected-list-card {
  background-color: var(--swatch-accent);
  color: white;
}

.unselected-list-card {
  color: white;
  background-color: var(--swatch-complement);
}

.list-card-button {
  float: right;
  transform: scale(1.2);
}

.list-card-add {
  color: white;
  background-color: var(--swatch-complement);
  text-align: center;
}

#workspace-home,
#workspace-edit {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

#edit-numbering {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 20%;
  height: 100%;
  background-color: var(--swatch-status);
}

#edit-items {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
  background-color: var(--swatch-primary);
}

#edit-toolbar-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#edit-toolbar-right {
  display: flex;
  justify-content: flex-end;
}

.edit-toolbar-button {
  font-size: 12pt;
  font-weight: bold;
  padding: 0 5pt;
  margin: 10pt 2pt;
}


input {
  font-size: 20pt;
}


.disabled {
  background-color: lightgray;
}

.disabled:hover {
  color: var(--swatch-neutral);
}

/* THIS STYLE SHEET MANAGES STYLE FOR OUR MODAL, i.e. DIALOG BOX */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  color: var(--swatch-text);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  font-family: var(--font-primary);
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  background: var(--swatch-primary);
  overflow: auto;
  cursor: default;
  border-width: 5px;
  border-radius: 10px;
  border-style: groove;
}

.modal-dialog>* {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: dotted;
}

.modal-header,
.modal-close {
  font-size: 1.5rem;
}

.modal p+p {
  margin-top: 1rem;
}

.modal-control {
  cursor: pointer;
  width: 20%;
}

.modal-button {
  margin: 0 10px;
  font-size: 20px;
}

.dialog-header {
  font-size: 24pt;
  background-color: var(--swatch-accent);
  color: white;
}

.modal-prompt {
  font-size: 20px;
}

.modal-textfield {
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

#close-modal-button {
  float: right;
}

#confirm-cancel-container {
  text-align: center;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}